<div class="container">
  <div class=" align-middle col-12">
    <h3 class="text-center">Exam Schedule For Level 1 FCI</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          
        </tbody>
      </table>
    </div>
    
    <div>
      <button class="btn btn-light ms-2">
        <i
          style="cursor: pointer"
          class="bi fs-4 fa fa-solid fa-pencil"
        ></i>
      </button>
      <button class="btn btn-light ms-2">
        <i
          style="cursor: pointer"
          class="bi fs-4 fa bx bx-trash me-0 text-center align-midle"
        ></i>
      </button>
    </div>
  </div>
  <div class=" align-middle col-12">
    <h3 class="text-center">Exam Schedule For Level 2 FCI</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          
        </tbody>
      </table>
    </div>
    
    <div>
      <button class="btn btn-light ms-2">
        <i
          style="cursor: pointer"
          class="bi fs-4 fa fa-solid fa-pencil"
        ></i>
      </button>
      <button class="btn btn-light ms-2">
        <i
          style="cursor: pointer"
          class="bi fs-4 fa bx bx-trash me-0 text-center align-midle"
        ></i>
      </button>
    </div>
  </div>
  <div class=" align-middle col-12">
    <h3 class="text-center">Exam Schedule For Level 3 FCI</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          
        </tbody>
      </table>
    </div>
    
    <div>
      <button class="btn btn-light ms-2">
        <i
          style="cursor: pointer"
          class="bi fs-4 fa fa-solid fa-pencil"
        ></i>
      </button>
      <button class="btn btn-light ms-2">
        <i
          style="cursor: pointer"
          class="bi fs-4 fa bx bx-trash me-0 text-center align-midle"
        ></i>
      </button>
    </div>
  </div>
  <div class=" align-middle col-12">
    <h3 class="text-center">Exam Schedule For Level 4 FCI</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          
        </tbody>
      </table>
    </div>
    
    <div>
      <button class="btn btn-light ms-2">
        <i
          style="cursor: pointer"
          class="bi fs-4 fa fa-solid fa-pencil"
        ></i>
      </button>
      <button class="btn btn-light ms-2">
        <i
          style="cursor: pointer"
          class="bi fs-4 fa bx bx-trash me-0 text-center align-midle"
        ></i>
      </button>
    </div>
  </div>
  <div class=" align-middle col-12">
    <h3 class="text-center">Exam Schedule For Level 5 FCI</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          <tr>
            <th scope="row" style="width: 20%;">from 8 To 10</th>
            <td
              
             
            ></td>
            <td
              
             
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
              
              
            ></td>
            <td
       
            ></td>
            <td
              
              
            ></td>
          </tr>
          
        </tbody>
      </table>
    </div>
    
    <div>
      <button class="btn btn-light ms-2">
        <i
          style="cursor: pointer"
          class="bi fs-4 fa fa-solid fa-pencil"
        ></i>
      </button>
      <button class="btn btn-light ms-2">
        <i
          style="cursor: pointer"
          class="bi fs-4 fa bx bx-trash me-0 text-center align-midle"
        ></i>
      </button>
    </div>
  </div>

</div>