<div class="card" *ngFor="let item of halls; let i = index">
  <div class="px-4 py-2 d-flex justify-content-between align-item-center">
    <div class=" w-50 d-flex ">
      <h4 class="text-break  fs-5 fs-sm-4 fs-md-3">  {{ item.name }} </h4>
    </div>
    <div class="flex-nowrap">
      <button class="btn btn-light ms-2">
        <i style="cursor: pointer" class="bi fs-4 fa fa-solid fa-pencil"></i>
      </button>
      <button
        class="btn btn-light ms-2"
        (click)="deleteHall(halls[i].id)"
      >
        <i
          style="cursor: pointer"
          class="bi fs-4 fa bx bx-trash me-0 text-center align-middle"
        ></i>
      </button>
    </div>
  </div>
</div>
